DNTOnMVC/Discuz.Silverlight/Discuz.WebCam/HaoRan.WebCam/Service References/MixObjectsSoapClient/uploadavatar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveAvatar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="data" type="s:base64Binary" />
            <s:element minOccurs="1" maxOccurs="1" name="dataLength" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="parameters" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="firstChunk" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="lastChunk" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="creinfo" type="tns:CredentialInfo" />
            <s:element minOccurs="1" maxOccurs="1" name="point" type="tns:Point" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="tns:Size" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CredentialInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AuthToken" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ForumID" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Point">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Size">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SaveAvatarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveAvatarResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="SaveAvatarSoapIn">
    <wsdl:part name="parameters" element="tns:SaveAvatar" />
  </wsdl:message>
  <wsdl:message name="SaveAvatarSoapOut">
    <wsdl:part name="parameters" element="tns:SaveAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="UploadAvatarSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveAvatar">
      <wsdl:input message="tns:SaveAvatarSoapIn" />
      <wsdl:output message="tns:SaveAvatarSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UploadAvatarHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="UploadAvatarHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UploadAvatarSoap" type="tns:UploadAvatarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAvatar">
      <soap:operation soapAction="http://tempuri.org/SaveAvatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadAvatarSoap12" type="tns:UploadAvatarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAvatar">
      <soap12:operation soapAction="http://tempuri.org/SaveAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadAvatarHttpGet" type="tns:UploadAvatarHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UploadAvatarHttpPost" type="tns:UploadAvatarHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UploadAvatar">
    <wsdl:port name="UploadAvatarSoap" binding="tns:UploadAvatarSoap">
      <soap:address location="http://localhost/services/uploadavatar.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadAvatarSoap12" binding="tns:UploadAvatarSoap12">
      <soap12:address location="http://localhost/services/uploadavatar.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadAvatarHttpGet" binding="tns:UploadAvatarHttpGet">
      <http:address location="http://localhost/services/uploadavatar.asmx" />
    </wsdl:port>
    <wsdl:port name="UploadAvatarHttpPost" binding="tns:UploadAvatarHttpPost">
      <http:address location="http://localhost/services/uploadavatar.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>